name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    name: Release
    # Skip running release workflow on forks
    if: github.repository_owner == 'danylomikula'
    runs-on: ubuntu-latest
    steps:
      - name: Release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
